<h1>Edit Program</h1>
<form method="post" action="/programs/<%=@program.id%>">
<input id="hidden" type="hidden" name="_method" value="patch">
Title:<input type="text" value="<%=@program.title%>" name="title"><br><br>
Movie or Show:<input type="text" value="<%=@program.movie_or_show%>" name="movie_or_show"><br><br>
Summary:<input type="text" value="<%=@program.summary%>" name="summary"><br><br>
Streaming Service:<input type="text" value="<%=@program.streaming_service%>" name="streaming_service"><br><br>
<input type="submit" value="submit">
</form>