<h1><%=@program.title%></h1>
<h4>Movie or Show:</h4><%=@program.movie_or_show%><br><br>
<h4>Summary</h4><%=@program.summary%><br><br>
<h4>Streaming Service</h4><%=@program.streaming_service%><br><br><br>

<form method="get" action="/programs/<%=@program.id%>/edit">
<input type="submit" value="edit"> 
</form> <br>

<form method="post" action="/programs/<%=@program.id%>">
<input type="hidden" name="_method" value="delete">
<input type="submit" value="delete">
</form><br><br><br>

<li><a href="/programs">Back</a></li>




                                          
