<h1>Here are your current recommendations</h1>
<%@programs.each do |program|%>
<p><h3>Title: <%="#{program.title}"%></h3> </p>
<p><%=program.movie_or_show%> </p>
<p><%=program.summary%> </p>
<p><%=program.streaming_service%> </p>
<br>
<form method="get" action="/programs/<%=program.id%>/edit">
<input type="submit" value="edit"> 
</form> <br>
<form method="post" action="/programs/<%=program.id%>">
<input type="hidden" name="_method" value="delete">
<input type="submit" value="delete">
</form>
<%end%>
<br><br><br>

<li><a href="/">Back to Main Page</a></li>

