<h1>Here are your current recommendations</h1>

<div class="album py-5 bg-light">
    <div class="container">
        <div class="row">
<%@programs.each do |program|%>
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                <img src=<%="#{program.image_url}"%> class="bd-placeholder-img card-img-top" alt="..." width="100%" height="280"/>
                    <div class="card-body">
                        <p class="card-text">
                            <li><b>Title:</b> <%="#{program.title}"%></li>
                            <li><b>Movie or Show:</b> <%="#{program.movie_or_show}"%></li>
                            <li><b>Summary:</b> <%=program.summary%></li>
                            <li><b>Streaming Service:</b> <%=program.streaming_service%></li><br>
                        </p>
                        <div class="d-flex justify-content-between align-items-center">
                            <form method="get" action="/programs/<%=program.id%>/edit">
                            <input type="submit" value="edit"> 
                            </form> <br>
                            <form method="post" action="/programs/<%=program.id%>">
                            <input type="hidden" name="_method" value="delete">
                            <input type="submit" value="delete">
                            </form>
                        </div> 
                    </div>
                </div>
            </div>
<%end%>
        </div>
    </div>
</div>


<li><a href="/">Back to Main Page</a></li>

<style>
    h1 {
        text-align :center;
    }
</style>

