<% if flash[:message] %>
<h6><%= flash[:message] %></h6>
<% end %>

<h1>URecommend</h1>
<h3>A place to see peoples Movie/Show recommendations as well as your own!</h3><br><br>
<ul>
<%@programs.each do |program|%>
    <li><b>Title:</b> <%="#{program.title}"%></li>
    <li><b>Movie or Show:</b> <%="#{program.movie_or_show}"%></li>
    <li><b>Summary:</b> <%=program.summary%></li>
    <li><b>Streaming Service:</b> <%=program.streaming_service%></li>
    <li><b>Added By:</b> <%=program.user.username%></li><br>
    <%end%>

<style>
    h1 {
        color: Light Blue;
        font-family: DejaVu Sans Mono, monospace;
        text-align: center;
        font-size: 10;
    }

    h3 {
        font-family: DejaVu Sans Mono, monospace;
        text-align: center;
    }

    h6 {
        text-align: center;
    }

</style>
</ul>
