<% if flash[:message] %>
<h6><%= flash[:message] %></h6>
<% end %>
<div class="album py-5 bg-light">
    <div class="container">
        <div class="row">
<%@programs.each do |program|%>
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    
                    <div class="card-body">
                        <p class="card-text">
                            <li><b>Title:</b> <%="#{program.title}"%></li>
                            <li><b>Movie or Show:</b> <%="#{program.movie_or_show}"%></li>
                            <li><b>Summary:</b> <%=program.summary%></li>
                            <li><b>Streaming Service:</b> <%=program.streaming_service%></li><br>
                        </p>
                        <div class="d-flex justify-content-between align-items-center">
                            
                        </div> 
                    </div>
                </div>
            </div>
<%end%>
        </div>
    </div>
</div>

<style>
    h6 {
        text-align :center;
    }
</style>


